// El siguiente código define el estilo de la página de inicio.
// El contenedor principal se centra en la pantalla y tiene una altura del 100% de la ventana.
// Dentro de este contenedor, hay un contenedor de logotipos que se centra y alinea en columnas.
// La imagen del logotipo tiene un ancho máximo de 150px y un margen inferior de 20px.
// El spinner de ion tiene un color de texto de negro.
// El logotipo de la pantalla de inicio tiene un ancho y alto de 150px.

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 150px;
            margin-bottom: 20px;
        }

        ion-spinner {
            color: rgb(0, 0, 0);
        }
    }
}

.splashscreen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    max-width: 150px;
    margin-bottom: 20px;
}

.logo-container ion-spinner {
    color: rgb(0, 0, 0);
}

.splashscreen-logo {
    width: 150px;
    height: 150px;
}
