<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar" color="custom-toolbar">
    <ion-title>
      <ion-img src="assets/inacap.png" alt="Logo" style="height: 30px; float: right;"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="custom-toolbar">
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
