<ion-app>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <!-- Contenido del menú principal -->
      This is the menu content.

      <!-- Menú de perfil -->
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <h2>Nombre del Usuario</h2>
            <p>usuario&#64;correo.com</p>
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/profile']">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/settings']">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar class="custom-toolbar" color="custom-toolbar">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <ion-img src="assets/inacap.png" alt="Logo" style="height: 30px; float: right;"></ion-img>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="'add-post'">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-list lines="none">
        <ion-item-sliding>
          <ion-item class="no-padding">
            <ion-label>
              <h2>titulo</h2>
              <p>detalle</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-content>
  </div>
</ion-app>
